{% extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block title %}Votes for 2019 euro parliament and Referendum{% endblock %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="{{refresh_seconds}}">
  {{super()}}
  <style>
      .padding-left-4 {
        padding-left: 4em;
      }

      .text-bold {
         font-weight: bold;
      }
  </style>
{%- endblock %}


{% block content %}
<div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}

  <div class="row">
    <h1>Votes</h1>

    <div class="alert alert-info" role="alert">
      Max people allowed to vote: {{ euro_data.str_max_voters() }} (includes expats)
    </div>
    <div class="alert alert-info" role="alert">
      Page refreshes every {{refresh_seconds}} seconds!
    </div>
    <div class="alert alert-warning" role="alert">
      The page here also includes the votes from outside of the country (aka expats).
    </div>
  </div>

  <div class="row">
    <hr>
    <h2><a href="{{url_euro}}" target="_blank">Europarlamentare</a></h2>
    {% with data=euro_data %}
    {% include "voters_data.html" %}
    {% endwith %}
  </div>

  <div class="row">
    <hr>
    <h2><a href="{{url_referendum}}" target="_blank">Referendum</a></h2>
    {% with data=referendum_data %}
    {% include "voters_data.html" %}
    {% endwith %}
  </div>

  <div class="row">
    <hr>
    <h2>Difference (Europarlamentare - Referendum)</h2>
    {% with data=difference_data %}
    {% include "voters_data.html" %}
    {% endwith %}
  </div>

</div>
{%- endblock %}
